<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">123456</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/LMS_DB</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
  <property name="hibernate.show_sql">true</property>
  <mapping class="models.Customer"/>
  <mapping class="models.Personnel"/>
  <mapping class="models.Bleach"/>
  <mapping class="models.Detergant"/>
  <mapping class="models.FabricSoftener"/>
  <mapping class="models.Water"/>
  <mapping class="models.Basket"/>
  <mapping class="models.Item"/>
  <mapping class="models.Order"/>
  <mapping class="models.Washing"/>
  <mapping class="models.Drying"/>
  <mapping class="models.Ironing"/>
  <mapping class="models.Packaging"/>
  <mapping class="models.OrderView"/>
 </session-factory>
</hibernate-configuration>
